@use '../../style/globals';

.infoContainer{
    display:flex;
    position: relative;
    text-align: center;
    width: 100%;
    color:rgb(0, 0, 0);
    font-size: 20pt;
}

@media (min-width: 450px){
    .infoContainer-left{
        flex-direction: row;
    }

    .infoContainer-right{
      flex-direction: row-reverse;
    }

    .text{
        flex-grow:3;
    }

    .image{
        width:30%;
    }
    .additionalInfo{
        width:10%;
        font-size:10pt;
    }
    .additionalInfo:empty{
        display:none;
    }
}


    .infoContainer{
        flex-direction: column;
    }
    .text{
        width:100%;
    }
    .image{
        width:100%;
    }
    .additionalInfo{
        display:none;
    }
