@use '../../style/globals';

.infoContainer{
    display:flex;
    position: relative;
    text-align: center;
    width: 100%;
    color:rgb(0, 0, 0);
    font-size: 20pt;
}

@media (min-width: 450px){
    .infoContainer{
        flex-direction: row;
    }
    .text{
        flex-grow:3;
    }

    .image{
        width:30%;
    }
}

@media (max-width: 450px){
    .infoContainer{
        flex-direction: column;
    }
    .text{
        width:100%;
    }
    .image{
        width:100%;
    }
}