@use '../../style/globals';


@mixin image($width, $height) {
  image-rendering: optimizeQuality;

  width: $width;
  height: $height;

  object-fit: cover;
  object-position: center;
}

.square {
  @mixin square-image($size) {
    @include image($size, $size);
  }

  &-small {
    @include square-image(5rem);
  }

  &-medium {
    @include square-image(10rem);
  }

  &-large {
    @include square-image(15rem);
  }

  &-full {
    @include square-image(100%)
  }
}

.round {
  border-radius: 50%;
}

.rectangle{
  border-radius: 5%;
}
